name: Grid Inteligente con IA

on:
  repository_dispatch:
    types: [grid]
  workflow_dispatch: # Permite ejecutarlo manualmente para probar

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Instalar dependencias
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Ejecutar script
        env:
            # Aquí conectas el Secret con el entorno de ejecución
            GENAI_API_KEY_1: ${{ secrets.GENAI_API_KEY_1 }}
            GENAI_API_KEY_2: ${{ secrets.GENAI_API_KEY_2 }}
            GENAI_API_KEY_3: ${{ secrets.GENAI_API_KEY_3 }}
        run: python grid_ai.py
